.MedalCountTable {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-areas:
    'title title title title title title title title'
    '. . . activity activity activity activity activity'
    '. . . click-tabs click-tabs click-tabs click-tabs click-tabs'
    'medal-count medal-count medal-count medal-count medal-count medal-count medal-count medal-count';
  grid-template-columns: 5fr 10fr 12fr 19fr 13fr 13fr 13fr 15fr;
  grid-gap: 10px;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.CountryMedalCount {
  display: grid;
  grid-template-areas:
    'list-place flag country-name . gold-medals silver-medals bronze-medals total-medals';
  grid-template-columns: 5fr 10fr 12fr 19fr 13fr 13fr 13fr 15fr;
  grid-gap: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  height: 25px;
  padding: 10px;
}

.ErrorMessage {
  color: red;
  text-align: center;
}

.title {
  grid-area: title;
  text-align: left;
}

.activity {
  grid-area: activity;
  display: grid;
  grid-template-areas:
    '. . . . .';
  grid-template-columns: 26.028fr 17.808fr 17.808fr 17.808fr 20.548fr;
  text-align: center;
}

.click-tabs {
  grid-area: click-tabs;
  display: grid;
  grid-template-areas:
    '. . . . .';
  grid-template-columns: 26.028fr 17.808fr 17.808fr 17.808fr 20.548fr;
  text-align: center;
}

.medal-count {
  grid-area: medal-count;
  border-top: 2px solid black;

}

.list-place {
  grid-area: list-place;
  text-align: right;
}

.flag {
  grid-area: flag;
  text-align: center;
}

.country-name {
  grid-area: country-name;
  text-align: left;
}

.gold-medals {
  grid-area: gold-medals;
  text-align: center;
}

.silver-medals {
  grid-area: silver-medals;
  text-align: center;
}

.bronze-medals {
  grid-area: bronze-medals;
  text-align: center;
}

.total-medals {
  grid-area: total-medals;
  text-align: center;
}

.active {
  border-bottom: 1px solid black;
  display: inline-block
}

.click-tab {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: auto;
}

#gold {
  color: transparent;
  background-color: gold;
}

#silver {
  color: transparent;
  background-color: silver;
}

#bronze {
  color: transparent;
  background-color: rgb(133	82 32);
}

#total {
  color: black;
  margin-right: 50%;
}
