.CountryMedalCount li {
  display: inline;
  padding-right: 10px;
  /* text-align: right; */
}

/* .CountryMedalCountContainer {
  width: 100%;
} */

.active {
  border-bottom: 1px solid black;
}

.click-tab {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

#gold {
  color: transparent;
  background-color: gold;
}

#silver {
  color: transparent;
  background-color: silver;
}

#bronze {
  color: transparent;
  background-color: rgb(133	82 32);
}

#total {
  color: black;
}

ul {
  padding: 0;
}

/* .CountryMedalCountContainer li {
  list-style-type: none;
} */

/*
.App {
  text-align: center;
} */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
