.App {
  text-align: center;
  overflow: hidden;
  /* width: 375px; */
}

.title {
  grid-area: title;
}

.activity {
  grid-area: activity;
  display: grid;
  grid-template-areas:
    '. . . . .';
  grid-template-columns: 66px 36px 36px 36px 41px;
  text-align: center;
}

.click-tabs {
  grid-area: click-tabs;
  display: grid;
  grid-template-areas:
    '. . . . .';
  grid-template-columns: 66px 36px 36px 36px 41px;
  text-align: center;
}

.medal-count {
  grid-area: medal-count;
}

/* .item5 {
  grid-area: country-row;
} */

.list-place {
  grid-area: list-place;
  text-align: right;
}

.flag {
  grid-area: flag;
  text-align: center;
}

.country-name {
  grid-area: country-name;
  text-align: left;
}

.gold-medals {
  grid-area: gold-medals;
  text-align: center;
}

.silver-medals {
  grid-area: silver-medals;
  text-align: center;
}

.bronze-medals {
  grid-area: bronze-medals;
  text-align: center;
}

.total-medals {
  grid-area: total-medals;
  text-align: center;
}

.MedalCountTable {
  /* margin: auto; */
  /* position: relative; */
  /* height: 100vh; */
  /* margin: 25%;
  width: 50%; */
  display: grid;
  grid-template-areas:
    'title title title title title title title title'
    '. . . activity activity activity activity activity'
    '. . . click-tabs click-tabs click-tabs click-tabs click-tabs'
    'medal-count medal-count medal-count medal-count medal-count medal-count medal-count medal-count';
  grid-template-columns: 18px 39px 45px 66px 36px 36px 36px 41px;
}

/* .CountryMedalCountContainer {
  display: grid;
  grid-template-areas:
  'country-row' 'country-row' 'country-row' 'country-row' 'country-row' 'country-row' 'country-row' 'country-row';
} */

.CountryMedalCount {
  display: grid;
  grid-template-areas:
    'list-place flag country-name . gold-medals silver-medals bronze-medals total-medals';
  grid-template-columns: 18px 39px 45px 66px 36px 36px 36px 41px;
}

/* .CountryMedalCount li {
  display: inline;
  padding-right: 10px;
  text-align: right;
} */

/* .CountryMedalCountContainer {
  width: 100%;
} */

.active {
  border-bottom: 1px solid black;
  display: inline-block
}

.click-tab {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  align-content: center;
}

#gold {
  color: transparent;
  background-color: gold;
}

#silver {
  color: transparent;
  background-color: silver;
}

#bronze {
  color: transparent;
  background-color: rgb(133	82 32);
}

#total {
  color: black;
}

ul {
  padding: 0;
}

/* .CountryMedalCountContainer li {
  list-style-type: none;
} */

/*
.App {
  text-align: center;
} */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
